.catalogPG {
    padding: 200px 0px 0px 0px;
    
    // sub__catalog
    .subCatalog {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px 0px 40px 0px;

        .subCatalog__link {
            font-weight: 300;
            padding: 10px 0px;
            margin: 0px 25px 10px 0px;

            &.subCatalog__link-active {
                background-color: $blue;
                color: #fff;
                padding: 10px 25px;
                border-radius: 20px;
            }
        }
    }

    // Advert
    .advert {
        margin: 0px 0px 60px 0px;
    }
}