.footer {
    width: 100%;
    background-color: $backGrey;
    padding: 45px 0px 30px 0px;
    
    .footer__body {
        padding: 0px 50px;

        .footer__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px 0px 40px 0px;

            // LOGO
            .footer__logo {
                img {
                    width: 80px;
                }
            }

            // footer BOX 
            .footer__box {
                display: flex;

                &:first-child {
                    flex-direction: row;
                }

                &:last-child {
                    flex-direction: column;
                }

                img {
                    width: 24px;
                    margin: 0px 10px 0px 0px;
                }

                // COLUMN 
                .box__column {
                    display: flex;
                    flex-direction: column;

                    &:first-child {
                        margin: 0px 60px 0px 0px;
                    }

                    .column__item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 0px 0px 30px 0px;

                        &:last-child {
                            margin: 0;
                        }

                        span {
                            font-weight: 700;
                        }
                    }
                }

                // ROW 
                .box__row {
                    display: flex;
                    flex-direction: row;
                    margin: 0px 0px 20px 0px;

                    &:last-child {
                        margin: 0;
                    }

                    .row__item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 0px 20px 0px 0px;

                        span {
                            font-size: 15px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .footer__policy {
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                margin: 0px 40px 0px 0px;
                span {
                    font-size: 15px;
                    font-weight: 300;
                    color: $crumps;
                }
            }
        }
    }
}