.main {
    .homePG {
        // ==========================
        //.      HEAD SECTION
        // ==========================

        .head {
            position: relative;
            height: calc(300px + (650 - 300) * ((100vw - 992px) / (1920 - 992)));
            // height: 650px;

            .head-img {
                width: 100%;
                height: 100%;
            }
            .head__body {
                display: flex;
                justify-content: center;

                .head__body-txt {
                    display: flex;
                    position: absolute;
                    top: 10%;

                    span {
                        font-family: $secondFontFamily;
                        font-size: 38px;
                        text-align: center;
                        line-height: 160%;
                    }
                }

                .head-body-img {
                    position: absolute;
                    top: 20%;

                    img {
                        border: 3px solid $stroke;
                        box-shadow: 5px 5px 13px 5px rgba(0, 0, 0, 0.2);
                    }

                    img:nth-child(1) {
                        transform: translateX(-80%);
                    }

                    img:nth-child(2) {
                        transform: translateY(58%);
                    }

                    img:nth-child(3) {
                        transform: translate(65%, 30%);
                    }
                }
            }
        }
        // ==========================
        //. alterableCardList SECTION
        // ==========================
        .alterableCardList {
            margin: 0px 0px 75px 0px;

            .title {
                display: flex;
                justify-content: center;
                margin: 0px 0px 40px 0px;
            }

            .cardList {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .card__link {
                    width: 23%;

                    &:hover {
                        .card__img {
                            img {
                                transform: scale(1.025);
                            }
                        }
                    }

                    .card__img {
                        width: 100%;
                        margin: 0px 0px 15px 0px;
                        overflow: hidden;
                        border: 1px solid $stroke;

                        img {
                            transition: 0.5s;
                        }
                    }

                    .card__title {
                        margin: 0px 0px 10px 0px;
                        height: 47px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;

                        span {
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 130%;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }

                    .card__desc {
                        p {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            line-clamp: 4;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }

        // ==========================
        //. photo__comments SECTION
        // ==========================

        .phComments {
            margin: 0px 0px 75px 0px;

            .title {
                display: flex;
                justify-content: center;
                margin: 0px 0px 40px 0px;
            }

            .phComments__list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0px 0px 60px 0px;

                .phComment__link {
                    width: 23%;

                    &:hover {
                        .phComment__img {
                            img {
                                transform: scale(1.025);
                            }
                        }
                    }

                    .phComment__img {
                        width: 100%;
                        overflow: hidden;
                        border: 1px solid $stroke;
                        margin: 0px 0px 15px 0px;

                        img {
                            transition: 0.5s;
                        }
                    }

                    .reviewer {
                        display: flex;
                        flex-direction: row;

                        .reviewer__img {
                            width: 30px;
                            height: 30px;
                            margin: 0px 10px 0px 0px;

                            img {
                                border-radius: 50%;
                            }
                        }

                        .reviewer__txt {
                            display: flex;
                            flex-direction: column;

                            span {
                                &:first-child {
                                    font-size: 13px;
                                    opacity: 0.8;
                                    margin: 0px 0px 2px 0px;
                                }

                                &:last-child {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            .moreButton {
                display: flex;
                justify-content: center;

                a {
                    position: relative;
                    padding: 5px 10px;

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: $line;
                        border-radius: 20px;
                        transition: 0.5s;
                    }
                }
            }
        }

        // ==========================
        //. questionsAnswers SECTION
        // ==========================
        section.questionsAnswers {
            padding: 40px;
            margin: 0px 0px 75px 0px;
            background-color: #f4f4f4;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 0px 30px 0px;
            }

            .questionsAnswers__body {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 30px 0px;

                // buttons
                .buttons {
                    flex: 0 0 50%;
                    padding: 35px 30px 35px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    border-right: 1px solid $blue;

                    .item {
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;

                        &:nth-child(1) {
                            margin: 0px 0px 25px 0px;
                        }

                        &:nth-child(2) {
                            margin: 0px 0px 25px 0px;
                        }

                        .item__ico {
                            margin: 0px 25px 0px 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            img {
                                width: 35px;
                                height: 35px;
                                transition: 0.3s;

                                &:nth-child(1) {
                                    opacity: 1;
                                }

                                &:nth-child(2) {
                                    position: absolute;
                                    opacity: 0;
                                }
                            }
                        }

                        span {
                            font-size: calc(14px + (17 - 14) * ((100vw - 992px) / (1920 - 992)));
                            font-weight: 700;
                            line-height: 140%;
                            text-transform: uppercase;
                            transition: 0.3s;
                        }

                        &:hover {
                            .item__ico {
                                img {
                                    &:nth-child(1) {
                                        opacity: 0;
                                    }

                                    &:nth-child(2) {
                                        opacity: 1;
                                    }
                                }
                            }

                            span {
                                color: $line;
                            }
                        }

                        &.active {
                            .item__ico {
                                img {
                                    &:nth-child(1) {
                                        opacity: 0;
                                    }

                                    &:nth-child(2) {
                                        opacity: 1;
                                    }
                                }
                            }

                            span {
                                color: $line;
                            }
                        }
                    }
                }

                // desc
                .desc {
                    flex: 0 0 50%;
                    padding: 0px 0px 0px 50px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .item {
                        position: absolute;

                        p {
                            font-weight: 400;
                        }
                    }
                }
            }

            .moreButton {
                display: flex;
                justify-content: center;

                a {
                    position: relative;
                    padding: 5px 10px;

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: $line;
                        border-radius: 20px;
                        transition: 0.5s;
                    }
                }
            }
        }

        // ==========================
        //.  new__products SECTION
        // ==========================

        .new__products {
            margin: 0px 0px 75px 0px;

            .new__products-body {
                .new__products-head {
                    display: flex;
                    justify-content: center;
                    margin: 0px 0px 40px 0px;
                }

                .sets {
                    margin: 0px 0px 30px 0px;
                }

                .new__products-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .list__item {
                        max-width: 326px;
                        max-height: 326px;
                        margin: 0px 0px 40px 0px;

                        a {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .button__showMore {
                    display: flex;
                    justify-content: center;

                    a {
                        padding: 5px 10px;
                        transition: 0.5s;
                        position: relative;

                        span {
                            font-weight: 300;
                        }
                    }

                    a::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: $line;
                        border-radius: 20px;
                        transition: 0.5s;
                    }

                    a:hover::before {
                        width: 100%;
                    }
                }
            }
        }

        // ==========================
        //.  advert SECTION
        // ==========================
        .advert {
            margin: 10px 0px 50px 0px;
        }

        // ==========================
        //.   instagram SECTION
        // ==========================

        .instagram {
            position: relative;
            margin: 0px 0px 45px 0px;

            .instagram__txt {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 0px 30px 0px;

                .instagram__head {
                    text-align: center;
                    margin: 0px 0px 35px 0px;

                    span {
                        font-family: $secondFontFamily;
                        font-size: 38px;
                        line-height: 160%;
                    }
                }

                .link__insta {
                    a {
                        display: flex;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                            margin: 0px 15px 0px 0px;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                }
            }

            .instagram__picture {
                display: flex;
                justify-content: space-evenly;

                .instagram__Img {
                    width: 227px;
                    height: 279px;
                }

                .instagram__Img:nth-child(1) {
                    transform: translateY(-30%);
                }

                .instagram__Img:nth-child(3) {
                    transform: translateY(-30%);
                }
            }
        }
    }
}
