.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// crumbs
.crumbs {
    display: flex;

    a {
        display: block;
        color: $crumps;
        margin: 0px 5px 40px 0px;
        font-size: 14px;
        font-weight: 300;
    }
}

// ==========================
//.  advert SECTION
// ==========================

.advert {
    display: flex;
    justify-content: center;
    width: 100%;

    .advert__body {
        width: 85%;
        aspect-ratio: 16/3.27;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

// ==========================
//.  myAccordion COMPONENT
// ==========================

.myAccordion {
    width: 100%;
    margin: 0px 0px 50px 0px;

    .accordionHead {
        display: flex;
        justify-content: space-between;
        padding: 0px 0px 10px 5px;
        border-bottom: 1.5px solid $stroke;
        cursor: pointer;
        margin: 30px 0px 0px 0px;

        .arrow {
            display: block;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0%;
                left: -40px;
                width: 10px;
                height: 2px;
                background-color: $text;
                border-radius: 20px;
                transform: rotate(45deg);
                transition: 0.1s;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0%;
                left: -35px;
                width: 10px;
                height: 2px;
                background-color: $text;
                border-radius: 20px;
                transform: rotate(-45deg);
                transition: 0.1s;
            }
        }

        &.active {
            .arrow {
                &::before {
                    transform: rotate(-45deg);
                }

                &::after {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .accordionBody {
        span {
            display: block;
            padding: 20px 0px 0px 0px;
            line-height: 22px;
        }
    }

    .accordionBody::-webkit-scrollbar {
        width: 0;
    }
}

// ==========================
//.     CART SETS LIST
// ==========================

.product__card,
.orderSet {
    margin: 0px 0px 50px 0px;
    height: 160px;
    display: flex;
    flex-direction: row;

    .product__img {
        height: 100%;
        width: 160px;
        margin: 0px 40px 0px 0px;

        img {
            // box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            object-fit: contain;
            filter: drop-shadow(2px 3px 7px rgba(0, 0, 0, 0.3));
        }
    }

    .product__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product__title {
            h3 {
                font-weight: 700;
            }
        }

        .product__params {
            display: flex;
            flex-direction: row;

            .params__head {
                font-size: 17px;
                font-weight: 700;
                margin: 0px 5px 0px 0px;
            }

            .product__size {
                margin: 0px 30px 0px 0px;

                span:last-child {
                    font-size: 17px;
                    font-weight: 300;
                    position: relative;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: #000;
                        position: absolute;
                        bottom: 10%;
                        left: 0;
                    }
                }
            }

            .product__number {
                display: flex;
                align-items: center;
                margin: 0px 30px 0px 0px;

                .quantity__rem {
                    width: 20px;
                    height: 20px;
                    border: 2px solid $stroke;
                    border-radius: 50%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px 15px 0px 5px;
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 60%;
                        height: 1.5px;
                        background-color: #000;
                        border-radius: 20px;
                    }
                }

                .quantity__add {
                    width: 20px;
                    height: 20px;
                    border: 2px solid $stroke;
                    border-radius: 50%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px 0px 0px 15px;
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 60%;
                        height: 1.5px;
                        background-color: #000;
                        border-radius: 20px;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        height: 60%;
                        width: 1.5px;
                        background-color: #000;
                        border-radius: 20px;
                    }
                }
            }

            .product__params-border {
                width: 1.5px;
                height: 100%;
                background-color: $stroke;
                margin: 0px 30px 0px 0px;
            }

            .remove__ico {
                cursor: pointer;
                height: 20px;

                img {
                    height: 100%;
                }
            }
        }

        .product__price {
            width: 110px;
            height: 40px;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                color: #fff;
                font-weight: 700;
            }
        }
    }
}
