.setPG {
    padding: 200px 0px 50px 0px;
    height: 100%;

    .setPG__body {
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 0px 60px;

        .set__preview-img {
            padding: 0px 30px 50px 0px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: sticky;
            top: 20%;

            // Preview SLIDER
            .preview-img {
                width: 80%;
                overflow: hidden;
                position: relative;
                margin: 0px 0px 10px 0px;

                .preview-img-slide {
                    width: 100%;
                    border: 1px solid #ABABAB;
                }
            }

            // mini preview slider
            .mini__preview-img {
                overflow: hidden;
                width: 80%;

                .swiper-wrapper {
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-between;
                    width: 100%;
                }

                .mini__preview-img-slide {
                    width: 95px !important;
                    opacity: 0.4;
                    transition: 0.5s;
                    border: 1px solid #ABABAB;
                }

                .mini__preview-img-slide.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }
        }

        // Set Products
        .set__products {
            padding: 0px 0px 0px 30px;
            width: 50%;

            .title {
                h1 {
                    margin: 0px 0px 30px 0px;
                }
            }

            .subTitle {
                margin: 0px 0px 40px 0px;

                span {
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: 300;
                    color: #28303F;
                }
            }

            // product__card
            .product__card {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 80px 0px;

                .shell__product-img {
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    margin: 0px 40px 0px 0px;

                    // product-img
                    .product-img {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        position: relative;

                        &.vertical {
                            width: 150px;
                            height: 215px;
                        }

                        &.horizontal {
                            width: 188px;
                            height: 132px;
                        }

                        &:hover {
                            .product-preview {
                                transform: translateY(-20px);
                            }

                            .zoomIco {
                                width: 20px;
                                opacity: 1;
                                margin: 10px 0px 0px 0px;
                            }
                        }

                        .product-preview {
                            width: 100%;
                            height: 100%;
                            // object-fit: contain;
                            object-fit: cover;
                            object-position: center;
                            border: 3px solid #fff;
                            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
                            transition: 0.5s;
                            z-index: 50;
                        }

                        .zoomIco {
                            position: absolute;
                            bottom: -15px;
                            width: 20px;
                            opacity: 0;
                            transition: 0.8s;
                            z-index: 40;
                        }
                    }
                }

                // product__detail
                .product__detail {
                    flex: 0 0 50%;
                    display: flex;
                    flex-direction: column;

                    select {
                        width: 100%;
                        border: 1px solid $stroke;
                        margin: 0px 0px 15px 0px;
                        padding: 5px;
                    }

                    .addToCart {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        background-color: $blue;
                        padding: 10px 15px;
                        position: relative;
                        cursor: pointer;

                        span {
                            color: #fff;

                            &:nth-child(1) {
                                font-weight: 300;
                            }

                            &:nth-child(2) {
                                display: block;
                                font-weight: 700;
                                padding: 0px 0px 0px 10px;
                                border-left: 1.5px solid #fff;
                                position: relative;
                            }
                        }
                    }
                }
            }

            .link__fromCart {
                background-color: $blue;
                width: 230px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 0px 50px 0px;
                cursor: pointer;

                span {
                    font-weight: 700;
                    font-size: 17px;
                    color: #fff;
                }
            }
        }
    }

    .similar__sets-body {
        margin: 55px 0px -50px 0px;

        .similar__sets-title {
            margin: 0px 0px 40px 0px;
            display: flex;
            justify-content: center;
        }
    }

    .popup {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        .popup_bg {
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            z-index: 101;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: auto;
            height: auto;
        }

        .popup_img {
            position: fixed;
            z-index: 102;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-height: 70%;
        }
    }
}





