// <ШРИФТЫ> ==============================================================================
$defaultFontFamily: "Circe";
$secondFontFamily: "New-YorkerC";
// </ШРИФТЫ> ==============================================================================


// <ПЕРЕМЕННЫЕ> ==============================================================================
$back: #F5E7D3;
$stroke: #D6D6D6;
$line: #F04F30;
$backGrey: #E7E7E7;
$text: #28303F;
$crumps: #949494;
$blue: #7893AD;


$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$minimalSW_PX: 992px;
$minimalSW: 992;

$minimalSW_M_PX: 375px;
$minimalSW_M: 375;

// </ПЕРЕМЕННЫЕ> ==============================================================================