// <ШРИФТЫ> ==============================================================================
$defaultFontFamily: "Circe";
$secondFontFamily: "New-YorkerC";
// </ШРИФТЫ> ==============================================================================

// <ПЕРЕМЕННЫЕ> ==============================================================================
$back: #f5e7d3;
$stroke: #d6d6d6;
$line: #f04f30;
$backGrey: #e7e7e7;
$text: #28303f;
$crumps: #949494;
$blue: #7893ad;
$green: #28ae5e;

$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$minimalSW_PX: 992px;
$minimalSW: 992;

$minimalSW_M_PX: 375px;
$minimalSW_M: 375;

// </ПЕРЕМЕННЫЕ> ==============================================================================
