// ========== ADMIN LAYOUTS ==========
.admin {
    display: flex;
    width: 100%;
    height: 100%;

    .navigation {
        flex: 0 0 15%;
        width: 100%;
        height: 100%;
        background-color: #363740;

        .navigation__body {
            .navigation__logo {
                margin: 0px 0px 80px 0px;

                .st__logo {
                    padding: 25px 10px 20px 25px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #fff;

                    a {
                        display: block;
                        max-width: 60px;
                        width: 100%;
                        margin: 0px 20px 0px 0px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .homeDecor__logo {
                    padding: 25px 10px 20px 25px;
                    
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                
                        img {
                            width: 60px;
                            margin: 0px 20px 0px 0px;
                        }
                    }
                }
            }

            .admin__nav {
                padding: 0px 0px 20px 0px;
                border-bottom: 1px solid #fff;
            
                .adminMenu-link {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding: 0px 0px 0px 20px;
                    position: relative;
                    cursor: pointer;

                    .adminMenu-sublink__body {
                        position: absolute;
                        left: calc(100% - 5px);
                        top: 0%;
                        padding: 10px 0px;
                        border-left: 5px solid #ffffff;
                        background-color: #363740;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.2s;
                        z-index: 1;

                        .adminMenu-sublink {
                            display: block;
                            padding: 10px 30px 10px 20px;

                            &:hover {
                                background-color: rgba(159, 162, 180, 0.4);
                            }

                            span {
                                white-space: nowrap;
                            }

                            &.adminMenu-sublink-active {
                                background-color: rgba(159, 162, 180, 0.4);
                            }
                        }
                    }
                }
            
                .adminMenu-link:hover {
                    border-left: 5px solid #DDE2FF;
                    background-color: rgba(159, 162, 180, 0.4);

                    .adminMenu-sublink__body {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            
                .adminMenu-link-active {
                    border-left: 5px solid #DDE2FF;
                    background-color: rgba(159, 162, 180, 0.4);
                }
            }
        }
        span {
            color: #fff;
        }
    }

    .main {
        width: 100%;
        height: 100%;
        background-color: #E5E5E5;
        padding: 35px 0px 0px 35px;
    }
}