.paintingsCreatAdmin, .catalogCreatAdmin, .setsCreatAdmin, .framesCreatAdmin, .printSizeCreatAdmin, .firstSecHPCreatAdmin, .reviewersCreatAdmin, .photoCommentsCreatAdmin {
    width: 100%;
    height: 100%;
}

.ordersEditAdmin {
    .content__body {
        display: flex;
        flex-direction: row;

        .orderSetsList {
            width: 55%;
            padding: 10px 10px 0px 30px;

            .emptyFrame {
                width: 100%;
                height: 15px;
            }
        }

        .form {
            width: 45%;

            .form__body {
                width: 100%;
                
                .form__row {
                    width: 100%;
                    display: flex;
                    // flex-direction: column;
                    // align-items: center;

                    &.name {
                        padding: 20px 0px 0px 0px;
                        width: 70%;
                        border-top: 2px solid $stroke;
                    }

                    .form__row-body {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .buttonAddToCart {
                        display: flex;
                        justify-content: center;

                        button {
                            height: 30px;
                            background-color: $green;
                            color: #fff;
                            border-radius: 10px;
                        }
                    }

                    .form__item {
                        margin: 0;

                        &.totalCost {
                            background-color: $blue;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            padding: 10px 15px;
                            border-radius: 10px;

                            span {
                                &:first-child {
                                    margin: 0px 0px 7px 0px;
                                    font-weight: 300;
                                }

                                &:last-child {
                                    margin: 0;
                                    font-weight: 700;
                                }
                            }
                        }

                        &.painAndSize {
                            margin: 0px 30px 0px 0px;
                        }
                        
                        span {
                            margin: 0px 0px 10px 0px;
                        }

                        .textareaTxt {
                            width: 100%;
                            height: 150px;
                            border: 1px solid #ABABAB;
                            border-radius: 10px;
                            padding: 5px 10px;
                            margin: 0px 0px 5px 0px;
                            resize: none;
                        }

                        select {
                            width: 100%;
                            height: 30px;
                            border: 1px solid #ABABAB;
                            border-radius: 10px;
                            padding: 5px 10px;
                            margin: 10px 0px 5px 0px;
                        }
                    }
                    
                    .input {
                        display: flex;
                        align-items: center;
                        margin: 0px 20px 20px 0px;

                        label {
                            margin: 0px 10px 0px 0px;
                        }

                        .radio {}
                    }
                }
            }

            .emptyBl {
                height: 20px;
            }
        }
    }
}

.form {
    padding: 0px 0px 0px 30px;

    .form__body {        

        .form__column {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 75%;
        }

        .form__row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0px 10px 20px 0px;

            span.warning {
                color: $line;
                font-weight: 700;
                margin: 0px 0px 20px 0px;
            }

            .indexnum {
                display: flex;
                color: $line;
                padding: 10px 0px 0px 0px;
                margin: 0px 10px 0px 0px;
            }

            .form__item {
                display: flex;
                flex-direction: column;
                margin: 0px 30px 0px 0px;

                &.newTabLink {
                    display: flex;
                    flex-direction: row;
            
                    label {
                        margin: 0px 10px 0px 0px;
                    }
            
                    input {
                        transform: scale(1.2);
                    }
                }

                label {
                    font-size: 15px;
                    margin: 0px 0px 10px 0px;
                }

                .inptTxt {
                    width: 100%;
                    height: 30px;
                    border: 1px solid #ABABAB;
                    border-radius: 10px;
                    padding: 5px 10px;
                    margin: 0px 0px 5px 0px;
                }

                textarea.inptTxt {
                    width: 100%;
                    height: 150px;
                    resize: none;
                    padding: 10px;
                }

                #file, #files {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                }

                .error-message {
                    font-size: 12px;
                    color: $line;
                    height: 12px;
                    padding: 0px 0px 0px 10px;
                }

                .add__files-button {
                    width: 100%;
                    height: 30px;
                    background-color: #28AE5E;
                    border-radius: 10px;
                    color: #fff;
                    transition: 0.5s;
                }
            
                .add__files-button:hover {
                    transform: scale(1.05);
                }
            }

            .imgSize {
                margin: 0px 20px 0px 0px;
                
                span {
                    font-size: 14px;
                    color: $crumps;
                }
            }

            .addFileName {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 30px 0px 0px;

                ul {
                    margin: 0px 30px 0px 0px;
                    li {
                        padding: 10px 0px 0px 0px;
                        font-size: 15px;
                        color: #ABABAB;
                    }
                }
        
                .removeFiles {
                    border: 2px solid $line;
                    border-radius: 50%;
                    color: $line;
                    padding: 1px 6px;
                    font-size: 18px;
                    margin: 0px 10px 0px 0px;
                    cursor: pointer;
                }
            }

            .addLink {
                margin: 0px 30px 0px 0px;
            }

            .but_new_fail {
                display: flex;
                flex-direction: column;

                button {
                    width: 100%;
                    height: 30px;
                    background-color: #28AE5E;
                    border-radius: 10px;
                    color: #fff;
                    box-shadow: 0 0 0 rgba(40, 174, 94, 0.5);
                    // transform: scale(1);
                    // margin: 25px 0px 0px 0px;
                    animation: pulse 2s infinite;
                }

                @keyframes pulse {
                    0% {
                        box-shadow: 0 0 0 0 rgba(40, 174, 94, 0.5);
                        transform: scale(1.05);
                    }

                    70% {
                        box-shadow: 0 0 0 15px rgba(40, 174, 94, 0);
                        transform: scale(1);
                    }

                    100% {
                        box-shadow: 0 0 0 0 rgba(40, 174, 94, 0);
                        transform: scale(1.05);
                    }
                }
            }

            .coverIMG {
                position: absolute;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .coverIMG.paintingsEditIMG.vertical {
                width: calc(200px + (250 - 200) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                height: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                top: 23%;
                right: 30%;
                border: 1px solid black;
            }

            .coverIMG.paintingsEditIMG.horizontal {
                width: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                height: calc(200px + (250 - 200) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                top: 23%;
                right: 30%;
                border: 1px solid black;
            }

            .coverIMG.framesEditIMG {
                width: calc(200px + (250 - 200) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                height: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                top: 10%;
                right: 40%;
                border: 1px solid black;
            }

            .coverIMG.photoCommentsEditIMG {
                width: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                height: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                top: 60%;
                right: 30%;
                border: 1px solid black;
            }

            .coverIMG.rewieversEditIMG {
                width: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                height: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                top: 35%;
                right: 38%;
                border: 1px solid black;
            }

            .coverIMG.firstSecHPEditIMG {
                width: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                height: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                top: 35%;
                right: 25%;
                border: 1px solid black;
            }

            .coverIMG.bannersEditIMG {
                // width: calc(300px + (400 - 300) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                // height: calc(265px + (315 - 265) * ((100vw - $minimalSW_PX) / (1920 - $minimalSW)));
                width: 500px;
                top: 25%;
                right: 18%;
                border: 1px solid black;
            }
        }
    }
}